/* Global Variables */
:root {
    --primary-color: #012970;
    --secondary-color: #4a90e2;
    --light-color: #f4f7fc;
    --hover-color: #345dbb;
    --font-family: "Nunito", sans-serif;
    --shadow-color: rgba(1, 41, 112, 0.15);
    --text-color: #334155;
    --heading-color: #1e293b;
}

/* General Styles */
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--light-color);
    color: var(--text-color);
}

.logo span,
.header,
.sidebar {
    background-color: #fff;
}

.logo{
  text-decoration: none;
}

.logo span {
    font-size: 26px;
    font-weight: 700;
    color: #012970;
    width: 280px;
}

.header {
    height: 60px;
    padding-left: 20px;
    color: var(--heading-color);
    box-shadow: 0 2px 20px var(--shadow-color);
    transition: 0.5s;
}

.header .toggle-sidebar-btn,
.header-nav .nav-icon,
.header-nav .nav-profile {
    color: var(--primary-color);
}

.header .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
}

.header-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav .nav-profile img {
    max-height: 36px;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 0 0 20px var(--shadow-color);
    transition: 0.3s;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
}

@media (max-width: 1199px) {
    .sidebar {
        left: -300px;
    }

    .toggle-sidebar .sidebar {
        left: 0;
    }
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
    font-size: 11px;
    text-transform: uppercase;
    color: #7a8cad;
    font-weight: 600;
    margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--secondary-color);
    background: var(--light-color);
    padding: 10px 15px;
    border-radius: 4px;
    transition: 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar-nav .nav-link:hover,
.sidebar-nav .nav-link.active {
    background-color: #012970;
    ;
    color: #fff;
    box-shadow: 0 4px 10px rgba(1, 41, 112, 0.2);
}

.sidebar-nav .nav-link i {
    font-size: 16px;
    margin-right: 10px;
}

.sidebar-nav .nav-content a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-color);
    padding: 10px 0 10px 40px;
    transition: 0.3s;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
    color: var(--secondary-color);
    text-decoration: underline;
}

/* Dropdown Menu */
.dropdown-menu {
    border-radius: 4px;
    padding: 10px 0;
    box-shadow: 0 5px 30px rgba(82, 63, 105, 0.2);
    background-color: var(--light-color);
    animation: dropdown-animate 0.2s both;
}

.dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;
    color: var(--text-color);
}

.dropdown-menu .dropdown-item:hover {
    background-color: #012970;
    color: #fff;
}

@keyframes dropdown-animate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Utility Classes */
.screenContainer {
    padding-top: 20px;
}
