<div class="container">
    <legend>Modifier étudiant</legend>
    <form>
        <div class="mb-3">
            <label for="txtLastName" class="form-label">Nom</label>
            <input type="text" name="lastName" class="form-control" id="txtLastName" [(ngModel)]="formdata.lastName">
        </div>
        <div class="mb-3">
            <label for="txtFirstName" class="form-label">Prénom</label>
            <input type="text" name="firstName" class="form-control" id="txtFirstName" [(ngModel)]="formdata.firstName">
        </div>
        <div class="mb-3">
            <label for="txtTel" class="form-label">Téléphone</label>
            <input type="tel" name="tel" class="form-control" id="txtTel" [(ngModel)]="formdata.tel">
        </div>
        <div class="mb-3">
            <label for="txtAddress" class="form-label">Adresse</label>
            <input type="text" name="address" class="form-control" id="txtAddress" [(ngModel)]="formdata.address">
        </div>
        <button type="button" class="btn btn-primary">Modifier</button>
        <h1>{{formdata.address}}</h1>
    </form>
</div>
