<!-- dashboard.component.html -->
<app-side-bar></app-side-bar>
<main class="container dashboard mt-5 py-5">
  <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-5 screenContainer">
    <div class="container-fluid">
      <div class="row d-flex justify-content-between align-items-center">
        <!-- Cartes de statistiques -->

        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Étudiants</h5>
              <h2>{{ nombreEtudiants }}</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Enseignants</h5>
              <h2>{{ nombreEnseignants }}</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Cours</h5>
              <h2>{{ nombreCours }}</h2>
            </div>
          </div>
        </div>

      <!-- Graphiques -->
      <div class="row mt-4">
        <div class=" chart-container col-md-6">
          <!-- <canvas #pieChart baseChart [data]="barChartData" [type]="'bar'" ></canvas> -->
          <canvas #pieChart width="400" height="400"></canvas>
          <h2 class="chart-title">Matières</h2>
        </div>
        <div class="chart-container col-md-6">
          <!-- <canvas #barChart baseChart [data]="barChartData" [type]="'pie'"></canvas> -->
          <canvas #barChart width="400" height="400"></canvas>
          <h2 class="chart-title">Notes des étudiants</h2>
        </div>
      </div>
    </div>

