.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

 .card-title {
   color:#012970;
  font-weight: bold;
}

.card h2 {
  font-weight: bold;
  color:#012970;
}

.chart-container {
  text-align: center;
  margin-bottom: 30px;
}

.chart-title {
  margin-top: 20px;
  font-size: 1.3rem;
  color: #012970;
  font-weight: bold;
}

